# Hermes Agent Environment Configuration

# Default URL of LM Studio, keep it if you didn't change it
LM_STUDIO_BASE_URL=http://host.docker.internal:1234

# Create a Telegram bot and generate a token from Telegram @botfather
TELEGRAM_BOT_TOKEN=...

# Only the user IDs defined here will the response from Herme
# Get your Telegram user ID by sending message to @userinfobot
# Separate user IDs by comma: 12345678,23457689
TELEGRAM_ALLOWED_USERS=...

# Username to login the web console on default port 9119
HERMES_DASHBOARD_BASIC_AUTH_USERNAME=...

# Generate password hash using python INSIDE the Hermes container 
#   docker exec -it <container id> bash
# Run this:
#   source .venv/bin/activate
#   python -c "from plugins.dashboard_auth.basic import hash_password; print(hash_password('your password here'))
# Copy the whole output string to this variable
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD_HASH=...

# Generate secret for auth token:
# openssl rand -base64 32
HERMES_DASHBOARD_BASIC_AUTH_SECRET=...

